Repository hackpgh/DINGUS, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, documentation, frontend

merge master (#2) (#3)
  setup/setupBackgroundSync.go
Labels: none

Add WA Admin auth check. Protect web-ui pages. Cleanup
  auth/auth.go
  config/config.go
  go.mod
  go.sum
  main.go
  models/wildApricotContact.go
  services/dbService.go
  services/wildApricotService.go
  setup/setupLogger.go
  setup/setupRoutes.go
  web-ui/assets/magicword.gif
  web-ui/css/configManagement.css
  web-ui/css/deviceManagement.css
  web-ui/css/styles.css
  web-ui/js/configManagement.js
  web-ui/templates/configManagement.tmpl
  web-ui/templates/deviceManagement.tmpl
  web-ui/templates/header.tmpl
  web-ui/templates/magicWord.tmpl
  web-ui/templates/members.tmpl
Labels: backend, frontend

Add tag authentication and e2e device registration
  .env.sample
  db/schema/tagsdb.sql
  deployment/traefik/acme.json
  handlers/accessControlHandler.go
  handlers/registrationHandler.go
  models/device.go
  models/deviceTrainingLink.go
  services/dbService.go
  services/queries.go
  setup/setupRoutes.go
  web-ui/js/deviceManagement.js
  web-ui/templates/deviceManagement.tmpl
Labels: frontend

check that raw_tag is a valid number. fix type mismatch
  deployment/traefik/acme.json
  handlers/accessControlHandler.go
  services/dbService.go
Labels: none

fixed issue with null Door Key causing problems.
  config.yaml
  models/wildApricotContact.go
  sample-config.yaml
  services/dbService.go
Labels: none

Added docker files.
  Dockerfile
  compose.yaml
  config.yaml
Labels: none

Added instructions for docker.
  README.md
  build.sh
  db/data/.gitignore
  run.sh
Labels: documentation

ExtractTrainingLabel errors no longer stop processing.
  models/wildApricotContact.go
  services/dbService.go
  services/wildApricotService.go
Labels: none

Fix training labels error (#18)
  Dockerfile
  README.md
  build.sh
  compose.yaml
  config.yaml
  db/data/.gitignore
  models/wildApricotContact.go
  run.sh
  services/dbService.go
  services/wildApricotService.go
Labels: documentation

Added paging to contact get.
  Dockerfile
  build.sh
  compose.yaml
  config/config.go
  run.sh
  services/dbService_test.go
  services/wildApricotService.go
  setup/setupRoutes.go
Labels: none

Add contacts paging (#19)
  Dockerfile
  build.sh
  compose.yaml
  config/config.go
  run.sh
  services/dbService_test.go
  services/wildApricotService.go
  setup/setupRoutes.go
Labels: none

made polling time configurable.
  Dockerfile
  compose.yaml
  config.yaml
  config/config.go
  main.go
  run.sh
  setup/setupBackgroundSync.go
Labels: backend

made polling time configurable. (#20)
  Dockerfile
  compose.yaml
  config.yaml
  config/config.go
  main.go
  run.sh
  setup/setupBackgroundSync.go
Labels: backend

.github/labeler.yml:

# .github/labeler.yml (label rules)

backend:
  - '*.go'
  - 'go.mod'
  - 'go.sum'

documentation:
  - '*.md'
  - 'docs/*'

frontend:
  - 'web-ui/**/*'
  - 'static/**/*'
